{% unless agency.staff_profiles == empty %} 
	<div class="branch-staff">
		<h4>Some of our team...</h4>	
		{% for staff_member in agency.staff_profiles limit:3 %}
			{% include "staff/staff_member_small" %}
		{% endfor %}
		{% if branch.agency.agency_portal_preferences.staff_profiles_enabled_on_branch_pages %}
			<a href="{{branch | url_for_branch}}#tabs/meet_team">Meet the whole team</a>
		{% endif  %}
	</div>
{% endunless %} 
