{% unless staff_list == empty %} 
	<div class="branch-staff">
		<h4>{% if staff_member %}Some of my colleagues{% else %}{% if property %}Meet our staff{% else %}Some of our team{% endif %}{% endif %}</h4>	
		{% for staff_member in staff_list limit:3 %}
			{% include "staff/staff_member_small" %}
		{% endfor %}
		{% if branch.agency.agency_portal_preferences.staff_profiles_enabled_on_branch_pages %}
			<a href="{{branch | url_for_branch : agency }}#tabs/team">Meet the whole team</a>
		{% endif  %}
	</div>
{% endunless %} 