<div class="blue-banner">
	<div class="container">
		<div class="col-lg-12">
			<h3>{{staff_member.name}}</h3>
			<h4>{% unless staff_member.job_title == '' %}{{staff_member.job_title}}, {% endunless %}{{branch.name}} office</h4>
		</div>
	</div>
</div>



