{% if properties == empty %}	
	<h4>Sorry, we couldn't find any properties for this search.</h4>
	<p>Try refining or changing your search using the form on the right.</p>
{% else %}
	{% include 'search/results' %}
{% endif %}
