<div class="container">
    <div class="col-lg-8">
        <h2>Our Office Locations</h2>
        <p>Choose an office from the map or from the list below to see the full contact details.</p>
		<div class="offices-map" id="map"></div>
        <div class="clearfix" style="clear:both;">
            <ul class="offices-list">
                {% for branch in agency.branches %}
                	<li><a href="{{branch | url_for_branch}}">{{branch.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
	<div class="col-lg-4">
	<p></p>
	</div>
</div>