<script>
	Ctesius.addConfig('branches', {% include_as_json branches/branches_list %});
	Ctesius.addConfig('branch_map_element', 'map');
</script>

{% push_to_header %}
	<div class="col-lg-12">
		{% include 'layouts/h_search_form' %}
	</div>
{% endpush_to_header %}

{% if agency.branches.size == 1 %}<h3>Our Office Location</h3>{% else %}<h3>Our Office Locations</h3>{% endif %}

<p>Choose an office from the map or from the list across for full details, contact information and more.</p>
<div class="col-lg-8" style="padding-left:0">
	<div class="offices-map" id="map"></div>
</div>
	
