{% push_to_header %}
	<div class="col-lg-12">
		<h3>All {{current_channel.dictionary.general_collective | capitalize}} {{current_channel.dictionary.preposition}}, {{branch.name}} branch</h3>
		{% include 'common_chunks/list_nav' %}
	</div>
{% endpush_to_header %}

<div class='togglable_area' id='togglable_list'>
	{% if pagination.total_count != 0 %}	
		{% for property in properties %}
			{% include "properties/property_small" %}
		{% endfor %}
	{% else %}
		<h4>Sorry, there are no properties for this branch at this time.</h4>
		<p>Please come back another time and run a search.</p>
	{% endif %}
</div>
<div class='togglable_area hidden' id='togglable_map'>
	<div id='draggable_map_view'></div>
</div>

{% include 'common_chunks/bottom_list_nav' %}