<div class="container">
	<div class="h-search-form">
		{% include 'layouts/h_search_form' %}
	</div>
</div>
<div class="container">
	<div class="col-lg-9">
		<h2>{{cms_page.title}}</h2>
		{{cms_page.content}}
	</div>
	<div class="col-lg-3">
	</div>
</div>
