<div class="main-wrapper clearfix generic">
    
    <!--<div class="content-left">
        {% include 'search/form' %}
        {% include 'sidebars/valuation_sidebar' %}
        {% include 'user/login_info' %}
        <div id="user_micro_view"></div>
    </div>-->

    <div class="content-middle">
		<div class="container">
			<div class="col-lg-9">
				<h2>{{cms_page.title}}</h2>
				{{cms_page.content}}
			</div>
			<div class="col-lg-3">
			</div>
		</div>
    </div>
</div>