{% include 'layouts/search_form' %}
<div id="saved_properties_view" class="hidden"></div>
<h4>Share this search...</h4>
{% include 'common_chunks/social' %}
{% include 'sidebar_blocks/social_block' %}
