<h4 class="sidebar">Refine your search...</h4>
{% include 'layouts/search_form' %}
<div class="sidebar_shortlist">	
	<div id="saved_properties_view" class="hidden"></div>
</div>
{% include 'sidebar_blocks/staff_list' %}
<h4 class="sidebar">Share this search...</h4>
{% include 'sidebar_blocks/social_block' %}

